.manage-tabs > .el-tabs__content {
    padding-left: 32px;
    color: #6b778c;
    font-weight: 600;
}

.manage-tabs--right .el-tabs__content,
.manage-tabs--left .el-tabs__content {
    height: 100%;
}

/*不显示预览html中的图片 和样式*/
.previewHtml img {
    display: none;
}

.previewHtml {
    overflow: hidden;
}
